- const types = ['sync', 'async', 'syncBusy', 'asyncBusy', 'syncMemo', 'asyncMemo'];
- const titles = ['Synchronous Fibonacci', 'Asynchronous Fibonacci', 'Synchronous Fibonacci with Busywork', 'Asynchronous Fibonacci with Busywork', 'Memoized Synchronous Fibonacci', 'Memoized Asynchronous Fibonacci'];
- const hyphenizedTypes = ['sync', 'async', 'sync-busy', 'async-busy', 'sync-memo', 'async-memo'];


doctype html
html
  head
    meta(name='csrf-token', content= csrf)
    title= title
    link(rel='shortcut icon', type='image/x-icon', href='./favicon.ico')
    script(type='text/javascript', src='./bundle.js')
    script(type='text/javascript', src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    link(href='https://fonts.googleapis.com/css?family=Arsenal|Oxygen+Mono')
    link(rel='stylesheet', href='./stylesheets/reset.css')
    link(rel='stylesheet', href='./stylesheets/styles.css')
    link(rel='stylesheet', href='./stylesheets/sunburst.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.1/js/all.js')
    script(id='types')= 'window.types = [' + types.map(function(type) { return `'${type}'` }).toString() + '];'
  body
    if !agreedToPivacyNotice
      div.privacy-notice-container
        div#privacy-notice When using any of the benchmarks on this website, information about your operating system, your browser, and the number of CPU cores on your device is stored on a server. This is information is stored purely to further the understanding of asynchronicity. By using these benchmarks, you agree to this use of your information. No uniquely identifying information, including your IP address, will ever be stored, and no stored information will ever be used for commercial purposes. 
        span#agree-button Agree
    canvas#chart
    each type, idx in types
      input(type='checkbox', id=hyphenizedTypes[idx] + '-checkbox', name='type', value=hyphenizedTypes[idx])
      label(for=hyphenizedTypes[idx] + '-checkbox')= type
    input#slider(type='range', min='1', max='100', value='45')
    span#slider-span 45
    form
      input(type='radio', id='avg-radio', name='avg-or-min', checked=true, value='avg')
      label(for='avg-radio') Average time
      input(type='radio', id='min-radio', name='min-or-min', value='min')
      label(for='min-radio') Minimum time
    input(type='checkbox', id='all-browsers-checkbox', name='browser', value='all-browsers', checked=true)
    label(for='all-browsers-checkbox') All browsers
    input(type='checkbox', id='firefox-checkbox', name='browser', value='firefox')
    label(for='firefox-checkbox') Firefox
    input(type='checkbox', id='chromium-checkbox', name='browser', value='chromium')
    label(for='chromium-checkbox') Chromium
    input(type='checkbox', id='chrome-checkbox', name='browser', value='chrome')
    label(for='chrome-checkbox') Chrome
    input(type='checkbox', id='opera-checkbox', name='browser', value='opera')
    label(for='opera-checkbox') Opera
    input(type='checkbox', id='safari-checkbox', name='browser', value='safari')
    label(for='safari-checkbox') Safari
    input(type='checkbox', id='edge-checkbox', name='browser', value='edge')
    label(for='edge-checkbox') Edge
    input(type='checkbox', id='firefox-mobile-checkbox', name='browser', value='firefox-mobile')
    label(for='firefox-mobile-checkbox') Firefox Mobile
    input(type='checkbox', id='chrome-mobile-checkbox', name='browser', value='chrome-mobile')
    label(for='chrome-mobile-checkbox') Chrome Mobile
    input(type='checkbox', id='opera-mobile-checkbox', name='browser', value='opera-mobile')
    label(for='opera-mobile-checkbox') Opera Mobile
    input(type='checkbox', id='mobile-safari-checkbox', name='browser', value='mobile-safari')
    label(for='mobile-safari-checkbox') Mobile Safari
    input(type='checkbox', id='uc-browser-checkbox', name='browser', value='uc-browser')
    label(for='uc-browser-checkbox') UC Browser
    input(type='checkbox', id='samsung-mobile-checkbox', name='browser', value='samsung-mobile')
    label(for='samsung-mobile-checkbox') Samsung Mobile
    input(type='checkbox', id='chromium-based-checkbox', name='browser', value='chromium-based')
    label(for='chromium-based-checkbox') All Chromium-based
    input(type='checkbox', id='firefox-based-checkbox', name='browser', value='firefox-based')
    label(for='firefox-based-checkbox') All Firefox-based
    select#os-select
      option(value='undefined' selected=true) All operating systems
      option(value='Mac OS') macOS
      option(value='Windows') Windows
      option(value='Linux') Linux
      option(value='Ubuntu') Ubuntu
      option(value='Android') Android
      option(value='iOS') iOS
    select#num-cores-select
      option(value='undefined' selected=true) Any number of cores
      option(value='1') 1 core
      option(value='2') 2 cores
      option(value='3') 3 cores
      option(value='4') 4 cores
      option(value='5') 5 cores
      option(value='6') 6 cores
      option(value='7') 7 cores
      option(value='8') 8 cores
      option(value='9') 9 cores
      option(value='10') 10 cores
      option(value='11') 11 cores
      option(value='12') 12 cores
      option(value='13') 13 cores
      option(value='14') 14 cores
      option(value='15') 15 cores
      option(value='16') 16 cores
      option(value='17') 17 cores
      option(value='18') 18 cores
    h1= title
    div.subtitle
      span by
        a(href='http://www.matthiasjenny.com')= ' Matthias Jenny'
      a(href='https://github.com/m1010j/async-explorations/')
        i.fab.fa-github
    main#main
      each type, idx in types
        div.container(id= hyphenizedTypes[idx] + '-container')
          h2= titles[idx]
          div.source(id= hyphenizedTypes[idx] + '-source')
          h3 Benchmark
          form(id= hyphenizedTypes[idx] + '-form')
            input(id= hyphenizedTypes[idx] + '-n', type='number', placeholder='n')
            input.submit(id= hyphenizedTypes[idx] + '-submit', type='submit', disabled, value='Invoke')
          div.result-container
            div.result(id= hyphenizedTypes[idx] + '-result')
            div.result(id= hyphenizedTypes[idx] + '-time')
          div.spinner-container.hidden(id= hyphenizedTypes[idx] + '-spinner-container')
            div.lds-ring
              div
              div
              div
              div