- const types = ['sync', 'async', 'syncBusy', 'asyncBusy', 'syncMemo', 'asyncMemo'];
- const titles = ['Synchronous Fibonacci', 'Asynchronous Fibonacci', 'Synchronous Fibonacci with Busywork', 'Asynchronous Fibonacci with Busywork', 'Memoized Synchronous Fibonacci', 'Memoized Asynchronous Fibonacci'];
- const hyphenizedTypes = ['sync', 'async', 'sync-busy', 'async-busy', 'sync-memo', 'async-memo'];


doctype html
html
  head
    meta(name='csrf-token', content= csrf)
    title= title
    link(rel='shortcut icon', type='image/x-icon', href='./favicon.ico')
    script(type='text/javascript', src='./bundle.js')
    script(type='text/javascript', src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    link(href='https://fonts.googleapis.com/css?family=Arsenal|Oxygen+Mono')
    link(rel='stylesheet', href='./stylesheets/reset.css')
    link(rel='stylesheet', href='./stylesheets/styles.css')
    link(rel='stylesheet', href='./stylesheets/sunburst.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.1/js/all.js')
    script(id='types')= 'window.types = [' + types.map(function(type) { return `'${type}'` }).toString() + '];'
  body
    if !agreedToPivacyNotice
      div.privacy-notice-container
        div#privacy-notice When using any of the benchmarks on this website, information about your operating system, your browser, and the number of CPU cores on your device is stored on a server. This is information is stored purely to further the understanding of asynchronicity. By using these benchmarks, you agree to this use of your information. No uniquely identifying information, including your IP address, will ever be stored, and no stored information will ever be used for commercial purposes. 
        span#agree-button Agree
    canvas#chart
    each type, idx in types
      input(type='checkbox', id=hyphenizedTypes[idx] + '-checkbox', name='type', checked=true, value=hyphenizedTypes[idx])
      label(for=hyphenizedTypes[idx] + '-checkbox')= type
    input#slider(type='range', min='1', max='100', value='45')
    span#slider-span 45
    h1= title
    div.subtitle
      span by
        a(href='http://www.matthiasjenny.com')= ' Matthias Jenny'
      a(href='https://github.com/m1010j/async-explorations/')
        i.fab.fa-github
    main#main
      each type, idx in types
        div.container(id= hyphenizedTypes[idx] + '-container')
          h2= titles[idx]
          div.source(id= hyphenizedTypes[idx] + '-source')
          h3 Benchmark
          form(id= hyphenizedTypes[idx] + '-form')
            input(id= hyphenizedTypes[idx] + '-n', type='number', placeholder='n')
            input.submit(id= hyphenizedTypes[idx] + '-submit', type='submit', disabled, value='Invoke')
          div.result-container
            div.result(id= hyphenizedTypes[idx] + '-result')
            div.result(id= hyphenizedTypes[idx] + '-time')
          div.spinner-container.hidden(id= hyphenizedTypes[idx] + '-spinner-container')
            div.lds-ring
              div
              div
              div
              div